/* Style pour l'affichage de la liste des heros, au survol, au click et après la sélection */

.heroes button {
  width: 25vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 40px;
  flex: 1;
}
.heroes li {
    list-style: none;
    display: flex;
}
.heroes .badge {
    background-color: #405061;
    margin : 0 15px 0 0;
    width: 15%;
    padding: 20px;
    color: white;
    border-radius: 4px 0 0 4px;
}
.heroes .name {
    font-weight: bold;
    text-align: center;
}
.heroes button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;align-self: center;
  }
.heroes button:active {
    background-color: #525252;
    color: #fafafa;
  } 
.heroes button.selected {
    background-color: black;
    color: white;
   
  }
.heroes button.selected:hover {
    background-color: #505050;
    color: white;
  }  
.heroes button.selected:active {
    background-color: black;
    color: white;
  }