<h2>My heroes</h2>

<!-- Module pour utiliser ngModel et utiliser ngForm

    <h2>{{ hero.name | uppercase }} Details</h2>
<div><span>id:</span> {{ hero.id}}</div>
<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>
 -->

<!-- pour afficher la liste de tous les héros du mock
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button type="button">
            <span class="badge">{{ hero.id }} </span>
            <span class="name">{{ hero.name }}</span>
        </button>
    </li>
</ul> 
-->


<ul class="heroes">
    <!-- Boucle sur la liste des heroes -->
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge"> {{ hero.id }} </span>
            <span class="name"> {{ hero.name }} </span>
        </a>
    </li>

</ul>